06-Fenstersensoren/kuechenfenster_alarm.json
[
    {
        "id": "7c8f3aac.b2fbb4",
        "type": "tab",
        "label": "Küchenfenster-Alarm",
        "disabled": false,
        "info": ""
    },
    {
        "id": "be72612c.4de678",
        "type": "mqtt in",
        "z": "7c8f3aac.b2fbb4",
        "name": "",
        "topic": "fenster/kueche",
        "qos": "2",
        "datatype": "auto",
        "broker": "ff2bd14a.a82d08",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "c1e6c178.2be3",
                "c35035fd.dc84a8"
            ]
        ]
    },
    {
        "id": "c1e6c178.2be3",
        "type": "debug",
        "z": "7c8f3aac.b2fbb4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 320,
        "wires": []
    },
    {
        "id": "c35035fd.dc84a8",
        "type": "function",
        "z": "7c8f3aac.b2fbb4",
        "name": "Uhrzeit prüfen",
        "func": "if (msg.payload === '0') {\n  let now = new Date();\n  let hours = now.getHours();\n  if (hours >= 21) {\n    msg.payload = 'ALARM!';\n  } else {\n    msg.payload = 'OK';\n  }\n} else {\n  msg.payload = 'OK';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 260,
        "wires": [
            [
                "f57953d9.7a2408",
                "aa21e5e6.92baf8"
            ]
        ]
    },
    {
        "id": "f57953d9.7a2408",
        "type": "debug",
        "z": "7c8f3aac.b2fbb4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "aa21e5e6.92baf8",
        "type": "switch",
        "z": "7c8f3aac.b2fbb4",
        "name": "Fenster auf?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ALARM!",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "cfb2444b.5433e"
            ]
        ]
    },
    {
        "id": "cfb2444b.5433e",
        "type": "function",
        "z": "7c8f3aac.b2fbb4",
        "name": "E-Mail vorbereiten",
        "func": "msg.topic = 'Das Küchenfenster ist auf!'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 260,
        "wires": [
            [
                "477d0cd9.0cc6f4",
                "4efe79fc.7213"
            ]
        ]
    },
    {
        "id": "477d0cd9.0cc6f4",
        "type": "debug",
        "z": "7c8f3aac.b2fbb4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 320,
        "wires": []
    },
    {
        "id": "4efe79fc.7213",
        "type": "e-mail",
        "z": "7c8f3aac.b2fbb4",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "Meine E-Mail-Adresse",
        "dname": "",
        "x": 1080,
        "y": 260,
        "wires": []
    },
    {
        "id": "ff2bd14a.a82d08",
        "type": "mqtt-broker",
        "z": "",
        "name": "Raspi",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]