10-DECT/fritz-dect-flows.json
[{"id":"d0f69746.759e3","type":"tab","label":"DECT","disabled":false,"info":""},{"id":"c06c3dac.f22e18","type":"inject","z":"d0f69746.759e3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":340,"wires":[["c7f2f29d.39c848"]]},{"id":"9e2dbbe2.832338","type":"debug","z":"d0f69746.759e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":340,"wires":[]},{"id":"c7f2f29d.39c848","type":"fritz-thermostat","z":"d0f69746.759e3","connection":"88740b7e.825fe","name":"Get Device List","action":"getDeviceList","x":560,"y":340,"wires":[["9e2dbbe2.832338"]]},{"id":"39568ba0.5b76dc","type":"inject","z":"d0f69746.759e3","name":"Heizkörper1","topic":"099950258666","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":480,"wires":[["d12d667f.acfdf"]]},{"id":"d12d667f.acfdf","type":"fritz-thermostat","z":"d0f69746.759e3","connection":"88740b7e.825fe","name":"ReadTemeperature","action":"getTemperature","x":570,"y":480,"wires":[["2389f179.109476","ba0efe3.b2b0e8"]]},{"id":"2389f179.109476","type":"debug","z":"d0f69746.759e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":480,"wires":[]},{"id":"ba0efe3.b2b0e8","type":"ui_text","z":"d0f69746.759e3","group":"7123562f.be055","order":0,"width":0,"height":0,"name":"Ausgabe","label":"Grad","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":600,"wires":[]},{"id":"cc5181df.a39a6","type":"fritz-outlet","z":"d0f69746.759e3","connection":"88740b7e.825fe","name":"Schalter","action":"getSwitchPresence","x":560,"y":140,"wires":[["89cd1d26.a951c8"]]},{"id":"1003c9c8.3dd92e","type":"inject","z":"d0f69746.759e3","name":"An","topic":"116300158097","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":100,"wires":[["cc5181df.a39a6"]]},{"id":"8b1b8eb4.2cfa78","type":"inject","z":"d0f69746.759e3","name":"Aus","topic":"116300158097","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":180,"wires":[["cc5181df.a39a6"]]},{"id":"bd8c7d44.a00cf","type":"fritz-outlet","z":"d0f69746.759e3","connection":"88740b7e.825fe","name":"Außenschalter","action":"setSwitchState","x":560,"y":720,"wires":[["c00569d.d86ad18"]]},{"id":"6c922f0b.39219","type":"ui_switch","z":"d0f69746.759e3","name":"","label":"Ein/Aus","tooltip":"","group":"2063cb72.8e7d04","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"116570296475","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":720,"wires":[["bd8c7d44.a00cf"]]},{"id":"c00569d.d86ad18","type":"debug","z":"d0f69746.759e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":720,"wires":[]},{"id":"89cd1d26.a951c8","type":"debug","z":"d0f69746.759e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":140,"wires":[]},{"id":"88740b7e.825fe","type":"fritz-api","z":"","name":"Fritzbox","host":"http://fritz.box","strictSSL":false},{"id":"7123562f.be055","type":"ui_group","z":"","name":"Temperatur","tab":"5a01b052.1f205","order":2,"disp":true,"width":"6","collapse":false},{"id":"2063cb72.8e7d04","type":"ui_group","z":"","name":"Schalter","tab":"5a01b052.1f205","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a01b052.1f205","type":"ui_tab","z":"","name":"Make","icon":"dashboard","disabled":false,"hidden":false}]